.landing-page-container {
  text-align: center;
  margin-top: -50px;
  height: 100vh;
  width: 100vw;
}

.landing-page-content {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.landing-hr {
  width: 100%;
  /* border: 1px solid #000; */
}

@media (min-width: 868px) {
  .landing-page-container {
    width: 700px;
  }
}
