.login-form-username-input,
.login-form-password-input {
  text-align: left;
  /* width: 100%; */
  padding: 12px 30px;
  margin: 5px auto;
  font-size: 15px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}

.login-form-password-show-button {
  font-weight: bold;
  font-size: 15px;
  padding: 8px 8px;
  margin: 0 10px 4px 0;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  position: relative;
  float: right;
  bottom: 97px;
  left: 6px;
}

.login-form-password-show-button:active {
  background-color: #f7f7f7;
}

.login-form-submit-button {
  width: 100%;
  font-weight: bold;
  font-size: 15px;
  padding: 12px 0;
  margin: 5px auto;
  border-radius: 5px;
  color: #ffffff;
  background-color: #f45d22;
  border: 1px solid #f45d22;
}

.login-form-submit-button:active {
  background-color: #843e26;
  border: 1px solid #843e26;
}

.login-form-error {
  color: #ff0000;
  font-size: 14px;
}
