.post {
  display: flex;
  flex-direction: column;
  margin: 5px 5%;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px;
}

.right-message {
  float: right;
  max-width: 80%;
  margin: 5px 10px;
  padding: 10px;
  border-radius: 10px 10px 0 10px;
  background-color: #f45d22;
}

.left-message {
  float: left;
  max-width: 80%;
  margin: 5px 10px;
  padding: 10px;
  border-radius: 10px 10px 10px 0;
  background-color: #f45d22;
}
