.top-bar,
.top-bar-home {
  padding: 13px 0;
  font-size: 18px;
  background-color: #15202b;
  border-bottom: 2px solid #38444d;
  position: fixed;
  z-index: 4;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-around;
}

.top-bar-home-activity {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  padding: 9px 15px 4px 15px;
  background-color: #15202b;
  border: none;
}
